# DATABASE
SUPABASE_URL=https://otpyiyjlvdpxvbhlldxt.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im90cHlpeWpsdmRweHZiaGxsZHh0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ1NTQ3NjYsImV4cCI6MjEwMDEzMDc2Nn0.CucYq_nkyQMAfYaomvmxehAgSKzxKBBm7pRdMXuCfbw
DATABASE_URL=DATABASE_URL=postgresql+psycopg2://postgres:SafeNex@1590.otpyiyjlvdpxvbhlldxt.supabase.co:5432/postgres?sslmode=require

# SECURITY
SECRET_KEY=7vK@92mL!xQ#5zP8$RwA1bNcY4eTf8Lm
ALGORITHM=HS256
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im90cHlpeWpsdmRweHZiaGxsZHh0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDU1NDc2NiwiZXhwIjoyMTAwMTMwNzY2fQ.-ILh-6wwApzjbA2YsZHLrF7Ra2e45QGxSNc2Ud4s4Qo
# CORS
BACKEND_CORS_ORIGINS=["*"]
